<%- include('includes/header') -%>

<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-success">
                <h4 class="text-center text-white">
                    Welcome to OLAP system
                </h4>
            </div>
            <div class="card-body">
                <p class="text-center lead">
                    Go to the questionaire
                </p>
                <div class="d-flex justify-content-center">
                    <a href="/olap/question" class="btn btn-sm btn-success">
                        Visit Questionaire &nbsp; <svg style="height: 1.5rem; width: 1.rem" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path></svg>
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</div>

<%- include('includes/footer') -%>