<%- include('includes/header') -%>

<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-success">
                <h5 class="text-center text-white">Download Results</h5>
            </div>
            <div class="card-body">
                <p class="h6 text-center text-secondary">
                    <a href="/download" class="btn btn-warning">
                        Download 
                        <svg xmlns="http://www.w3.org/2000/svg" style="height: 1.5rem; width: 1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M9 19l3 3m0 0l3-3m-3 3V10" />
                          </svg>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

<%- include('includes/footer') -%>