<%- include('includes/header') -%>

<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-success">
                <h5 class="text-center text-white">Thank You</h5>
            </div>
            <div class="card-body">
                <p class="h6 text-center text-secondary">Your response has been submitted</p>
            </div>
        </div>
    </div>
</div>

<%- include('includes/footer') -%>